<!DOCTYPE html>
<html>
<head>

<<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Portada</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-1.8.0.min.js"></script>
    
</head>
<body>
<h1>Alumno:</h1>
<h2>Daniel Gayosso Gonzalez</h2>
<br>
<h1>Materia:</h1>
<h2>Desarrollo Web Avanzado</h2>
<br>
<h1>Unidad:</h1>
<h2>4</h2>
<br>
<h1>Fecha:</h1>
<h2>13/05/22</h2>
<br>
<h1>Practica:</h1>
<h2>1</h2>
<br>
</body>
</html>